############################
# ROS2
############################

ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

############################
# CMake
############################

**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
compile_commands.json

############################
# Compiled Objects
############################

*.o
*.obj
*.so
*.a
*.exe

############################
# Executables
############################

a.out
*.out

############################
# VS Code
############################

.vscode/

############################
# Logs
############################

*.log

############################
# Temporary files
############################

*.swp
*~
.DS_Store

############################
# Datasets
############################

datasets/

############################
# Python cache (ROS tools)
############################

__pycache__/
*.pyc